<div>

<button id="start_train" type="button" onclick="start_train()" disabled>Start train</button>
<button id="start_detect" type="button" onclick="start_detect()" disabled>Start detect</button>
<button id="stop" type="button" onclick="stop()" disabled>Stop</button>

<span id="status"></span>

</div>

<script>
    function start_train() {
        fetch('/start_train')
        document.getElementById('status').innerHTML = 'starting...'
        document.getElementById('start_train').disabled = true
        document.getElementById('start_detect').disabled = true
        document.getElementById('stop').disabled = false
    }
    function start_detect() {
        fetch('/start_detect')
        document.getElementById('status').innerHTML = 'starting...'
        document.getElementById('start_train').disabled = true
        document.getElementById('start_detect').disabled = true
        document.getElementById('stop').disabled = false
    }
    function stop() {
        fetch('/stop')
        document.getElementById('status').innerHTML = 'stoping...'
    }
    function update_status() {
        fetch('/status').then(response => response.json()).then(res => {
	    if (document.getElementById('status').innerHTML != 'starting...' || res.status != 'stopped') {
                document.getElementById('status').innerHTML = res.status
	        if (res.status == 'stopped') {
	            document.getElementById('start_train').disabled = false
	            document.getElementById('start_detect').disabled = false
		    document.getElementById('stop').disabled = true
	        }
	        else {
	            document.getElementById('start_train').disabled = true
                    document.getElementById('start_detect').disabled = true
                    document.getElementById('stop').disabled = false
		}
            }
	})
        setTimeout(update_status, 3000)
    }
    update_status()
</script>
