<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
</head>
<body style='background-color: #444; color: #eee !important;'>
    <button onclick='switch_details()'>Show/hide details</button>
    <table id="myTable1" class="display">
        <thead>
            <tr>
                <th class='0'>flow</th>
                <th class='1'>src_ip</th>
                <th class='2'>src_port</th>
                <th class='3'>dst_ip</th>
                <th class='4'>dst_port</th>
                <th class='5'>protocol</th>
                <th class='6'>start_time</th>
                <th class='7'>duration</th>
                <th class='8'>total_fwd_packets</th>
                <th class='9'>len_fwd_packets_total</th>
                <th class='10'>len_fwd_packets_max</th>
                <th class='11'>len_fwd_packets_mean</th>
                <th class='12'>flow_iat_min</th>
                <th class='13'>fwd_iat_std</th>
                <th class='14'>fwd_iat_max</th>
                <th class='15'>fwd_iat_min</th>
                <th class='16'>fwd_header_len</th>
                <th class='17'>len_packet_max</th>
                <th class='18'>len_packet_mean</th>
                <th class='19'>label</th>
            </tr>
        </thead>
        <tbody>
            {% for i in l %}
            <tr>
                <td class='0'>{{ i[0] }}</td>
                <td class='1'>{{ i[1] }}</td>
                <td class='2'>{{ i[2] }}</td>
                <td class='3'>{{ i[3] }}</td>
                <td class='4'>{{ i[4] }}</td>
                <td class='5'>{{ i[5] }}</td>
                <td class='6'>{{ to_datetime(i[6]) }}</td>
                <td class='7'>{{ i[7] }}</td>
                <td class='8'>{{ i[8] }}</td>
                <td class='9'>{{ i[9] }}</td>
                <td class='10'>{{ i[10] }}</td>
                <td class='11'>{{ i[11] }}</td>
                <td class='12'>{{ i[12] }}</td>
                <td class='13'>{{ i[13] }}</td>
                <td class='14'>{{ i[14] }}</td>
                <td class='15'>{{ i[15] }}</td>
                <td class='16'>{{ i[16] }}</td>
                <td class='17'>{{ i[17] }}</td>
                <td class='18'>{{ i[18] }}</td>
                <td class='19'>{{ i[19] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table id="myTable2" class="display">
        <thead>
            <tr>
                <th class='0'>flow</th>
                <th class='1'>src_ip</th>
                <th class='2'>src_port</th>
                <th class='3'>dst_ip</th>
                <th class='4'>dst_port</th>
                <th class='5'>protocol</th>
                <th class='6'>start_time</th>
                <th class='7'>duration</th>
                <th class='8'>total_fwd_packets</th>
                <th class='9'>len_fwd_packets_total</th>
                <th class='10'>len_fwd_packets_max</th>
                <th class='11'>len_fwd_packets_mean</th>
                <th class='12'>flow_iat_min</th>
                <th class='13'>fwd_iat_std</th>
                <th class='14'>fwd_iat_max</th>
                <th class='15'>fwd_iat_min</th>
                <th class='16'>fwd_header_len</th>
                <th class='17'>len_packet_max</th>
                <th class='18'>len_packet_mean</th>
                <th class='19'>label</th>
            </tr>
        </thead>
        <tbody>
            {% for i in nl %}
            <tr>
                <td class='0'>{{ i[0] }}</td>
                <td class='1'>{{ i[1] }}</td>
                <td class='2'>{{ i[2] }}</td>
                <td class='3'>{{ i[3] }}</td>
                <td class='4'>{{ i[4] }}</td>
                <td class='5'>{{ i[5] }}</td>
                <td class='6'>{{ to_datetime(i[6]) }}</td>
                <td class='7'>{{ i[7] }}</td>
                <td class='8'>{{ i[8] }}</td>
                <td class='9'>{{ i[9] }}</td>
                <td class='10'>{{ i[10] }}</td>
                <td class='11'>{{ i[11] }}</td>
                <td class='12'>{{ i[12] }}</td>
                <td class='13'>{{ i[13] }}</td>
                <td class='14'>{{ i[14] }}</td>
                <td class='15'>{{ i[15] }}</td>
                <td class='16'>{{ i[16] }}</td>
                <td class='17'>{{ i[17] }}</td>
                <td class='18'>{{ i[18] }}</td>
                <td class='19'>{{ i[19] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        let table1 = new DataTable('#myTable1', {
            responsive: true
        });
        let table2 = new DataTable('#myTable2', {
            responsive: true
        });
        function switch_details() {
            [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18].forEach((idx) => {
                let column1 = table1.column(idx);
                column1.visible(!column1.visible());
                let column2 = table2.column(idx);
                column2.visible(!column2.visible());
            })
        }
        switch_details()

</script>



</body>
